:root {
  --almost-white: #fffdfa;
  --dark-space-blue: #00001a;
  --gunmetal: #5e607a;
  --light-vermillion: #f15d51;
  --silver: #c5c6ce;
  --yellow: #e9aa52;
  --gray: #d8d8d8;
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/inter-v18-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('./fonts/inter-v18-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/inter-v18-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('./fonts/inter-v18-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/inter-v18-latin-800.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('./fonts/inter-v18-latin-800.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  line-height: 26px;
  color: var(--gunmetal);
  min-height: 100vh;
}
a,
a h3 {
  transition: all 0.3s ease-in-out 0s;
}
.wrapper {
  max-width: 1190px;
  /* background-color: #e9aa52; */
  /* width: calc(100vh/0.72); */
  padding-inline: 40px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 31.5%);
  column-gap: 2.75%;
  /* grid-template-rows: 18% 50% 32%; */
  grid-template-rows: 184px 510px 330px;
  margin-inline: auto;
}

header {
  grid-area: 1/1/2/4;
  display: grid;
  grid-template-rows: 50% 22% 28%;
  grid-template-columns: repeat(3, 1fr);
  nav {
    grid-area: 2/1/3/4;
    display: flex;
    justify-content: space-between;
    button {
      display: none;
    }

    a {
      display: block;
      height: 100%;
      img {
        display: block;
        height: 100%;
        object-fit: cover;
        object-position: top 0 left 0;
      }
    }
    a:hover,
    a:active {
      color: var(--light-vermillion);
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      li {
        list-style: none;
      }
    }
  }
}
main {
  grid-area: 2/1/3/4;
  display: grid;
  grid-template-rows: 61% 39%;
  grid-template-columns: repeat(3, 31.5%);
  column-gap: 2.75%;
}
.bright {
  grid-area: 1/1/3/3;
  display: grid;
  grid-template-rows: 300px 1fr;
  .mobile-img {
    display: none;
  }

  img {
    grid-area: 1/1/2/2;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top 0 left 0;
  }
  .bright-text {
    grid-area: 2/1/3/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    h1 {
      grid-area: 1/1/2/2;
      color: var(--dark-space-blue);
      font-size: 56px;
      font-weight: 800;
      line-height: 56px;
      display: flex;
      align-items: center;
      padding-block-start: 5.5%;
    }
    div {
      grid-area: 1/2/2/3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      padding-block-start: 5.5%;
      padding-inline-start: 5%;
      p {
        margin-block-end: 24px;
      }
      a {
        background-color: var(--light-vermillion);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        min-width: 185px;
        height: 48px;
        color: var(--Dark-Space-Blue, #00001a);
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 4.375px;
        text-transform: uppercase;
      }
      a:hover,
      a:active {
        color: var(--almost-white);
        background-color: var(--dark-space-blue);
      }
    }
  }
}
.new {
  background-color: var(--dark-space-blue);
  color: var(--almost-white);
  grid-area: 1/3/3/4;
  padding-inline: 24px;
  display: grid;
  grid-template-rows: 42% 29% 29%;
  h2 {
    color: var(--yellow);
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
  }
  h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
  }
  a :hover,
  a :active {
    color: var(--yellow);
  }
  p {
    color: var(--silver);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
  }
  > div:not(:last-child) {
    border-bottom: 1px solid var(--silver);
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      padding-block-end: 8px;
    }
  }
  h2 {
    padding-block-end: 34px;
  }
}
footer {
  grid-area: 3/1/3/4;
  display: grid;
  grid-template-columns: repeat(3, 31.5%);
  grid-template-rows: 25% 130px 65%;
  column-gap: 2.75%;
  .one {
    grid-area: 2/1/3/2;
  }
  .two {
    grid-area: 2/2/3/3;
  }
  .three {
    grid-area: 2/3/3/4;
  }
  article {
    display: flex;
    gap: 24px;
    img {
      display: inline-block;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .footer-dig {
        color: var(--light-vermillion);
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
      }
      h3 {
        color: var(--dark-space-blue);
        font-size: 18px;
        font-weight: 800;
        line-height: 24px;
      }

      a :hover,
      a :active {
        color: var(--light-vermillion);
      }
    }
  }
}
